.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 90px;
    margin-top: 40px;
    padding: 20px;
    flex-wrap: wrap; 
    
}
.skills-section {
    flex: 1;
    max-width: 300px;
    padding: 10px;
}

.frontend, .backend, .Database{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    min-width: 250px;
    max-width: 300px; 
    text-align: left;
    flex: 1;

}


.about-skill{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    transition: 0.3s;
}
.about-skill:hover {
    transform: scale(1.05);
}

.about-skill p{
    font-weight: 500;
   font-size: 20px;
   min-width: 120px;
   margin: 0;
}

.skill-bar {
  flex: 1;
  height: 10px;
  background: #eecaf1;  /* background line */
  border-radius: 50px;
  overflow: hidden;
}

.skill-bar span {
  display: block;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(264deg, orange -5.09%, purple 106.28%);
}

.about-skill:hover{
   transform: scale(1.05);
   transition: 0.3s;
}

@media (max-width: 768px) {
  .skills {
    margin: 12px;
    flex-direction: column;
    gap: 25px;
  }

  .frontend, .backend, .Database {
    width: 100%;
     min-width: unset; 
    max-width: unset;
  }

  .about-skill p {
    font-size: 16px;
  }
}
