.footer {
  background: #111;
  color: #fff;
  padding: 40px 80px 20px;
  margin-top: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #ff6a00; /* accent color */
}

.footer-left p {
  font-size: 16px;
  color: #bbb;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff6a00;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials img {
  width: 30px;
  height: 30px;
  /* filter: brightness(0) invert(1); */
  transition: transform 0.3s;
}

.footer-socials img:hover {
  transform: scale(1.2);
  
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
  color: #777;
}
